.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: flex-start;
    min-height: 92vh;
    width: 100%;
    margin-left: 1rem;
    .cards {
        box-shadow: 15px 10px 4px rgba(167, 166, 166, 0.5);
        display: flex;
        gap: 2rem;
        background-color: #46444200;
        height: 15rem;
        color: #CAAF8F;
        .cardsImg {
            width: 11rem;
            height: 15rem;
        }
        h2 {
            font-size: 2rem;
        }
        .cardsBodySection {
            width: 30rem;
            text-align: left;
            .cardDescriptionPreview {
                display: block;
                height: 4.7rem;
                overflow: hidden;
                color: rgba(167, 166, 166, 0.5);
                margin:  0.5rem 0 0.5rem 0;
            }
        }
    }
}